.scoreboard {
  position: absolute;
  z-index: 100;
  top: 30%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white;
  background-color: rgba(199, 9, 142, 0.664);
  width: 90%; 
  text-align: center; 
  padding: 20px; 
}


.header {
  span {
    font-weight: bold;
    font-size: 20px;
  }
}
.header,
.result {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;


  span {
    width: 100px;
  }
}
